* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  color: #fff;
  background-color: #222;
  width: 100%;
  margin: auto;
  max-width: 3576px;
  max-height: 2383px;
}

label {
  display: none;
}

.container {
  background-image: url('/assets/img/texture.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.navbar {
  margin: auto;
  margin-bottom: 70px;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  margin: 2rem;
  color: #ddd;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
}

.navbar-link:hover {
  font-weight: bold;
  color: #fff;
}

.hero {
  width: 50%;
  object-fit: contain;
  line-height: 0.85;
  padding-top: 5rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.hero-advance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #ddd;
  font-size: 0.8em;
}

.hero-year {
  color: #fff;
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: -7px;
  font-size: 5em;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
}

.hero-title--origine {
  color: #fff;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  letter-spacing: -10px;
  font-size: 5.1em;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}

.hero-title--group {
  color: #fff;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 5.6em;
  font-weight: bold;
  text-align: center;
}

.hero-subtitle {
  color: #222;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  padding: 0.7rem 3rem;
  margin-top: 0.5rem;
  border: 1px solid white;
  border-radius: 50px;
}

.star-left,
.star-right {
  width: 5.8rem;
  height: auto;
}

.wide-star {
  width: 7rem;
  height: auto;
  margin: 20px auto;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #ddd;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 2;
}

footer {
  height: 30vh;
  width: 77vw;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-leave {
  color: #000;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 0.7rem 4.5rem;
  border: 1px solid white;
  border-radius: 50px;
  transition: all ease-in-out 0.3s;
}

.btn-leave:hover {
  color: #fff;
  background-color: transparent;
}

.btn-stay {
  color: #fff;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 0.7rem 2rem;
  border: 2px solid white;
  border-radius: 50px;
}

.btn-stay:hover {
  color: #000;
  background-color: #fff;
}

.active {
  font-weight: bold;
  color: #fff;
}

#check {
  z-index: 3;
  display: none;
}

@media screen and (max-width: 1024px) {
  .navbar-link {
    font-size: 1.2rem;
  }

  .hero-year {
    font-size: 3rem;
    -webkit-text-stroke-width: 3px;
    margin: 1rem;
  }

  .star-left,
  .star-right {
    width: 4rem;
    height: auto;
    margin: 1rem;
  }

  .hero-title--origine {
    font-size: 8rem;
  }

  .hero-title--group {
    font-size: 8.5rem;
  }

  .hero-subtitle {
    font-size: 0.9rem;
    padding: 0.7rem 4rem;
  }

  .wide-star {
    width: 5rem;
  }

  .text p {
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;    
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar {
    display: none;
  }

  label {
    display: block;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  label:hover {
    color: #ccc;
  }

  label .close-btn {
    display: none;
  }

  #check:checked ~ header .navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header .navbar .navbar-list {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #check:checked ~ header .navbar .navbar-list .navbar-link {
    color: #222;
    font-weight: 700;
    margin: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .close-btn {
    color: #000;
    position: fixed;
    display: block;
    z-index: 2;
  }

  #check:checked ~ header label .menu-btn {
    display: none;
  }

  label .menu-btn {
    position: absolute;
  }
  .hero {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-advance {
    font-size: 0.5rem;
  }

  .hero-year {
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    margin: 0.2rem;
    letter-spacing: 1px;
  }

  .star-left,
  .star-right {
    width: 3rem;
    height: auto;
    margin: 0.5rem;
  }

  .hero-title--origine {
    font-size: 3.6rem;
    margin: auto;
    letter-spacing: 0;
  }

  .hero-title--group {
    font-size: 4rem;
    letter-spacing: 5px;
  }

  .hero-subtitle {
    font-size: 0.5rem;
    padding: 0.4rem 1.4rem;
  }

  .wide-star {
    width: 5rem;
  }

  .text p {
    font-size: 0.8rem;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  footer {
    height: 20vh;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
